In [16]:
import json
import requests 
import numpy as np
import requests
from scipy.stats import linregress
import pprint as pprint
import pandas as pd
import matplotlib.pyplot as plt
from citipy import citipy
# from api_keys import weather_api_key
# from api_keys import g_key
import time as time
#import wget as wget

In [17]:
file_to_load = "../Resources/time_series_covid_19_confirmed.csv"
covid_19_confirmed = pd.read_csv(file_to_load)
covid_19_confirmed_all = pd.DataFrame(covid_19_confirmed)
covid_19_confirmed.shape

(275, 471)

In [18]:
covid_19_confirmed.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/23/21', '4/24/21', '4/25/21', '4/26/21', '4/27/21', '4/28/21',
       '4/29/21', '4/30/21', '5/1/21', '5/2/21'],
      dtype='object', length=471)

In [19]:
covid_19_confirmed.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '4/23/21', '4/24/21', '4/25/21', '4/26/21', '4/27/21', '4/28/21',
       '4/29/21', '4/30/21', '5/1/21', '5/2/21'],
      dtype='object', length=467)

In [20]:
dates = covid_19_confirmed.columns[4:]
covid_19_confirmed = covid_19_confirmed.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Confirmed'
)

In [21]:
covid_19_confirmed

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
128420,NaN,Vietnam,14.058324,108.277199,5/2/21,2962
128421,NaN,West Bank and Gaza,31.952200,35.233200,5/2/21,297638
128422,NaN,Yemen,15.552727,48.516388,5/2/21,6341
128423,NaN,Zambia,-13.133897,27.849332,5/2/21,91693
128424,NaN,Zimbabwe,-19.015438,29.154857,5/2/21,38281

In [22]:
covid_19_confirmed['Date'] = pd.to_datetime(covid_19_confirmed['Date'])
covid_19_confirmed

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0
...,...,...,...,...,...,...
128420,NaN,Vietnam,14.058324,108.277199,2021-05-02,2962
128421,NaN,West Bank and Gaza,31.952200,35.233200,2021-05-02,297638
128422,NaN,Yemen,15.552727,48.516388,2021-05-02,6341
128423,NaN,Zambia,-13.133897,27.849332,2021-05-02,91693
128424,NaN,Zimbabwe,-19.015438,29.154857,2021-05-02,38281

In [23]:
covid_19_confirmed.isna().sum()

Province/State    88263
Country/Region        0
Lat                 934
Long                934
Date                  0
Confirmed             0
dtype: int64

In [24]:
ship_rows = covid_19_confirmed['Province/State'].str.contains('Grand Princess') | covid_19_confirmed['Province/State'].str.contains('Diamond Princess') | covid_19_confirmed['Country/Region'].str.contains('Diamond Princess') | covid_19_confirmed['Country/Region'].str.contains('MS Zaandam')
full_ship = covid_19_confirmed[ship_rows]

In [25]:
covid_19_confirmed.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
dtype: object

In [28]:
covid_19_confirmed['Lat'] = covid_19_confirmed['Lat'].fillna(0)

In [29]:
covid_19_confirmed['Long'] = covid_19_confirmed['Long'].fillna(0)

In [30]:
covid_19_confirmed.isna().sum()

Province/State    88263
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
dtype: int64

In [31]:
covid_19_confirmed = covid_19_confirmed[~(ship_rows)]

In [32]:
covid_19_confirmed.isna().sum()

Province/State    87329
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
dtype: int64