In [1]:
# apps
import pandas as pd
import numpy as np

In [2]:
# get data sets
path_gdp = "../Resources/gdp-csv.csv"
path_pop = "../Resources/WorldPopulation.csv"
path_locs = "../Resources/time_series_covid_19_deaths.csv"

gdp_raw_df = pd.read_csv(path_gdp)
#gdp_raw_df.head(15)
pop_raw_df = pd.read_csv(path_pop)
#pop_raw_df.head(15)
locs_raw_df = pd.read_csv(path_locs)
#locs_raw_df.head(15)

In [3]:
# get just desired columns
#gdp
gdp_gdp_2019 = []
gdp_country_2019 = []
gdp_code_2019 = []

counter = len(gdp_raw_df["Unnamed: 63"])
#print(counter)

for i in np.arange(counter):
    gdp = gdp_raw_df["Unnamed: 63"][i]
    gdp_gdp_2019.append(gdp)  
    country = gdp_raw_df["Data Source"][i]
    gdp_country_2019.append(country)
    code = gdp_raw_df["World Development Indicators"][i]
    gdp_code_2019.append(code)

#gdp df
gdp_raw_2019_df = pd.DataFrame({"Country": gdp_country_2019,
                                "Code": gdp_code_2019,
                                "2019 GDP":gdp_gdp_2019
                                })

gdp_raw_2019_df.head(15)

                 Country          Code      2019 GDP
0                    NaN           NaN           NaN
1      Last Updated Date     4/26/2021           NaN
2                    NaN           NaN           NaN
3           Country Name  Country Code  2.019000e+03
4                  Aruba           ABW           NaN
5            Afghanistan           AFG  1.929110e+10
6                 Angola           AGO  8.881570e+10
7                Albania           ALB  1.527918e+10
8                Andorra           AND  3.154058e+09
9             Arab World           ARB  2.817410e+12
10  United Arab Emirates           ARE  4.211420e+11
11             Argentina           ARG  4.454450e+11
12               Armenia           ARM  1.367280e+10
13        American Samoa           ASM           NaN
14   Antigua and Barbuda           ATG  1.661963e+09

In [4]:
#get just desired columns
#pop
pop_pop_2019 = []
pop_country_2019 = []
pop_code_2019 = []

counter = len(pop_raw_df["2019"])
#print(counter)

for i in np.arange(counter):
    pop = pop_raw_df["2019"][i]
    pop_pop_2019.append(pop)  
    country = pop_raw_df["Country Name"][i]
    pop_country_2019.append(country)
    code = pop_raw_df["Country Code"][i]
    pop_code_2019.append(code)
    
pop_raw_2019_df = pd.DataFrame({"Country": pop_country_2019,
                                "Code": pop_code_2019,
                                "2019 Population":pop_pop_2019
                                })

pop_raw_2019_df.head(15)

                 Country Code  2019 Population
0                  Aruba  ABW         106314.0
1            Afghanistan  AFG       38041754.0
2                 Angola  AGO       31825295.0
3                Albania  ALB        2854191.0
4                Andorra  AND          77142.0
5             Arab World  ARB      427870270.0
6   United Arab Emirates  ARE        9770529.0
7              Argentina  ARG       44938712.0
8                Armenia  ARM        2957731.0
9         American Samoa  ASM          55312.0
10   Antigua and Barbuda  ATG          97118.0
11             Australia  AUS       25364307.0
12               Austria  AUT        8877067.0
13            Azerbaijan  AZE       10023318.0
14               Burundi  BDI       11530580.0

In [5]:
#get just desired columns
#locs
locs_lat_2019 = []
locs_lon_2019 = []
locs_country_2019 = []
locs_state_2019 = []

counter = len(locs_raw_df["Country/Region"])
#print(counter)

for i in np.arange(counter):
    lat = locs_raw_df["Lat"][i]
    locs_lat_2019.append(lat)  
    lon = locs_raw_df["Long"][i]
    locs_lon_2019.append(lon)
    country = locs_raw_df["Country/Region"][i]
    locs_country_2019.append(country)
    state = locs_raw_df["Province/State"][i]
    locs_state_2019.append(state)
    
locs_raw_2019_df = pd.DataFrame({"Country": locs_country_2019,
                                "State": locs_state_2019,
                                "Latitude":locs_lat_2019,
                                 "Longitude":locs_lon_2019
                                })

locs_raw_2019_df.shape

(275, 4)

In [6]:
#list of countries for vaccine sheet
path_vacs = "../Resources/country_vaccinations.csv"

vacs_raw_df = pd.read_csv(path_vacs)
#vacs_raw_df.head(15)

#just lines for 5/1/2021
vacs_raw_512021_df = vacs_raw_df.loc[vacs_raw_df['date']== '5/1/2021']
vacs_raw_512021_df.head(5)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
68,Afghanistan,AFG,5/1/2021,NaN,NaN,NaN,NaN,13921.0,NaN,NaN,NaN,358.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
190,Albania,ALB,5/1/2021,494028.0,NaN,NaN,17125.0,13423.0,17.17,NaN,NaN,4664.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
326,Andorra,AND,5/1/2021,NaN,NaN,NaN,NaN,124.0,NaN,NaN,NaN,1605.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of Andorra,https://www.govern.ad/covid19_newsletter/
397,Angola,AGO,5/1/2021,NaN,NaN,NaN,NaN,8959.0,NaN,NaN,NaN,273.0,Oxford/AstraZeneca,World Health Organization,https://covid19.who.int/
501,Anguilla,AIA,5/1/2021,NaN,NaN,NaN,NaN,253.0,NaN,NaN,NaN,16864.0,Oxford/AstraZeneca,Ministry of Health,https://www.facebook.com/MinistryofHealthAngui...

In [7]:
#just needed columns for vaccine list
#vacs
vacs_country_5121 = []
vacs_code_5121 = []
vacs_total_5121 =[]
vacs_full_5121 = []
vacs_vacs_5121 = []

counter = len(vacs_raw_512021_df["country"])
#print(counter)
vacs_5121_index = vacs_raw_512021_df.index.tolist()

for i in vacs_5121_index:
    country = vacs_raw_512021_df["country"][i]
    vacs_country_5121.append(country)  
    code = vacs_raw_512021_df["iso_code"][i]
    vacs_code_5121.append(code)
    total = vacs_raw_512021_df["total_vaccinations"][i]
    vacs_total_5121.append(total)
    full = vacs_raw_512021_df["people_fully_vaccinated"][i]
    vacs_full_5121.append(full)
    vacs = vacs_raw_512021_df["vaccines"][i]
    vacs_vacs_5121.append(vacs)
    
#print(vacs_vacs_5121)

vacs_raw_5121_df = pd.DataFrame({"Country": vacs_country_5121,
                                "Code": vacs_code_5121,
                                "Total Vaccinations": vacs_total_5121,
                                "Total Fully Vaccinated": vacs_full_5121,
                                "Vaccinations Used": vacs_vacs_5121
                                })
vacs_raw_5121_df.head(20)

,Country,Code,Total Vaccinations,Total Fully Vaccinated,Vaccinations Used
0,Afghanistan,AFG,NaN,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
1,Albania,ALB,494028.0,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,Andorra,AND,NaN,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"
3,Angola,AGO,NaN,NaN,Oxford/AstraZeneca
4,Anguilla,AIA,NaN,NaN,Oxford/AstraZeneca
5,Antigua and Barbuda,ATG,NaN,NaN,Oxford/AstraZeneca
6,Argentina,ARG,7971470.0,968478.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V"
7,Armenia,ARM,NaN,NaN,"Oxford/AstraZeneca, Sinovac, Sputnik V"
8,Aruba,ABW,NaN,NaN,Pfizer/BioNTech
9,Australia,AUS,2234844.0,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"
10,Austria,AUT,3205367.0,860897.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."
11,Azerbaijan,AZE,1505206.0,533683.0,"Oxford/AstraZeneca, Sinovac"
12,Bahamas,BHS,NaN,NaN,Oxford/AstraZeneca
13,Bahrain,BHR,1246239.0,544317.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
14,Bangladesh,BGD,NaN,NaN,Oxford/AstraZeneca
15,Barbados,BRB,91157.0,16549.0,Oxford/AstraZeneca
16,Belarus,BLR,NaN,NaN,Sputnik V
17,Belgium,BEL,3955417.0,852633.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."
18,Belize,BLZ,NaN,NaN,Oxford/AstraZeneca
19,Bermuda,BMU,NaN,NaN,Pfizer/BioNTech

In [105]:
#split vaccine types
#get list of vaccines
vac_type_list = []
counts_list = []
counts_list_entry = []
country_entry = []

counter = len(vacs_raw_5121_df["Vaccinations Used"])
#print(counter)

#separate vaccines and list
for i in np.arange(counter):
    first = vacs_raw_5121_df["Vaccinations Used"][i]
    first_l = first.strip('()').split(',')
    country = vacs_raw_5121_df["Country"][i]
    counts= len(first_l)
    counts_list.append(counts)
    for j in np.arange(counts):
        vac_type_list.append(first_l[j])
        country_entry.append(country)
        counts_list_entry.append(counts)
        
#vac_type_list
#counts_list_entry
#country_entry
#len(vac_type_list)
#len(country_entry)
#len(counts_list_entry)

vac_type_used = pd.DataFrame({"Country": country_entry,
                             "Vaccine Used": vac_type_list,
                             "Number of Vaccines Used": counts_list_entry
                             })

vac_type_used["Vaccine Used"]=vac_type_used["Vaccine Used"].str.replace(' ', '')

vac_type_list1 =[]
vacs = vac_type_used["Vaccine Used"].unique()
vac_type_list1 = vacs.tolist()
vac_type_list1
#vac_type_used

['Oxford/AstraZeneca',
 'Pfizer/BioNTech',
 'Sinopharm/Beijing',
 'Sinovac',
 'SputnikV',
 'Johnson&Johnson',
 'Moderna',
 'Sinopharm/Wuhan',
 'Covaxin',
 'QazVac',
 'Sinopharm/HayatVax',
 'CanSino',
 'EpiVacCorona',
 'RBD-Dimer']