In [2]:
import pandas as pd

In [134]:
file_death = 'time_series_covid_19_deaths.csv'
deaths = pd.read_csv(file_death)
#del deaths['Province/State']
#covid_deaths = deaths.groupby('Country/Region').sum()
#avg_lat_long = deaths.groupby('Country/Region')[['Lat','Long']].mean()
#del covid_deaths['Lat']
#del covid_deaths['Long']
#avg_lat_long
#covid_deaths['Lat'] = avg_lat_long.iloc[:,0]
#covid_deaths['Long'] = avg_lat_long.iloc[:,1]
#covid_deaths.head(10)

deaths.columns[4:]

deaths_long = deaths.melt(id_vars = ['Province/State','Country/Region','Lat','Long'],
                         value_vars = deaths.columns[4:],
                         var_name = 'Dates',  
                         value_name='Deaths')
del deaths_long['Province/State']
deaths_long['Dates'] = pd.to_datetime(deaths_long['Dates'])
deaths_long['Month'] = deaths_long['Dates'].dt.month
deaths_long['Year'] = deaths_long['Dates'].dt.year

del deaths_long['Lat']
del deaths_long['Long']

deaths_long_clean = deaths_long.groupby(['Month','Year'])
deaths_long_clean.head(2)
#deaths_long.groupby(pd.Grouper(key="Dates", freq="1M")).sum()

       Country/Region      Dates  Deaths  Month  Year
0         Afghanistan 2020-01-22       0      1  2020
1             Albania 2020-01-22       0      1  2020
2750      Afghanistan 2020-02-01       0      2  2020
2751          Albania 2020-02-01       0      2  2020
10725     Afghanistan 2020-03-01       0      3  2020
10726         Albania 2020-03-01       0      3  2020
19250     Afghanistan 2020-04-01       4      4  2020
19251         Albania 2020-04-01      15      4  2020
27500     Afghanistan 2020-05-01      68      5  2020
27501         Albania 2020-05-01      31      5  2020
36025     Afghanistan 2020-06-01     266      6  2020
36026         Albania 2020-06-01      33      6  2020
44275     Afghanistan 2020-07-01     780      7  2020
44276         Albania 2020-07-01      65      7  2020
52800     Afghanistan 2020-08-01    1285      8  2020
52801         Albania 2020-08-01     161      8  2020
61325     Afghanistan 2020-09-01    1407      9  2020
61326         Albania 2020-09-01     290      9  2020
69575     Afghanistan 2020-10-01    1460     10  2020
69576         Albania 2020-10-01     388     10  2020
78100     Afghanistan 2020-11-01    1538     11  2020
78101         Albania 2020-11-01     518     11  2020
86350     Afghanistan 2020-12-01    1822     12  2020
86351         Albania 2020-12-01     822     12  2020
94875     Afghanistan 2021-01-01    2191      1  2021
94876         Albania 2021-01-01    1181      1  2021
103400    Afghanistan 2021-02-01    2404      2  2021
103401        Albania 2021-02-01    1393      2  2021
111100    Afghanistan 2021-03-01    2444      3  2021
111101        Albania 2021-03-01    1816      3  2021
119625    Afghanistan 2021-04-01    2489      4  2021
119626        Albania 2021-04-01    2241      4  2021
127875    Afghanistan 2021-05-01    2631      5  2021
127876        Albania 2021-05-01    2396      5  2021